.navbar-expand {
  display: inline;
  position: relative; }
  .navbar-expand-item {
    display: block; }
    .navbar-expand-item--1 {
      display: inline; }
    .navbar-expand-item--2 {
      display: none;
      position: absolute;
      top: 100%;
      left: 0%;
      background-color: #fcb800; }
  .navbar-expand:hover .navbar-expand-item:not(:hover) {
    display: block; }
